*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Barlow', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fraunces', sans-serif;
}

body{
    background: #F2F2F2;
}

.navbar{
    display: flex;
    align-items: center;
}

.header{
    margin-bottom: 45px;
    margin-top: 45px;
}

.menu-icon{
    display: none;
}

.conteiner{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.coffe-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 33px;
}

.nav-link{
    text-decoration: none;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;
    
    color: #83888F;
    transition: all .5s ease;
}

.nav-link:hover{
    color: #000000;
}

.nav-link:active{
    color: #83888F;
    transition: all .0s ease;
}

.main{
    position: relative;
}


.img-hero{
    background: url(../img/Bitmap.png);
    border-radius: 10px;

    width: 100%;

    padding-bottom: 72px;
    margin-bottom: 120px;

    z-index: -1;
}

.hero-text{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;

    width: 493px;
    
    color: #FEFCF7;

    padding-top: 70px;
    padding-left: 50px;
    margin-bottom: 32px;
}

.hero-pr{
    width: 445px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #FEFCF7;
    
    mix-blend-mode: normal;
    opacity: 0.8;

    padding-left: 50px;
    margin-bottom: 30px;
}

.button{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    text-decoration: none;
    
    color: #FEFCF7;
    background: #66D2CF;
    border-radius: 6px;

    padding: 15px 31px;
    transition: all .7s ease;
    border: 1.5px solid transparent;

    margin-left: 50px;
}

.button:hover{
    box-shadow:  1px 2px 2px 4px  #d8d7d467;

    background-color: #fff;
    border: 1.5px solid #66D2CF;
    color: #66D2CF;
}

.button:active{
    color: #83888F;
    transition: all .0s ease;
}

.all-menu{
    position: relative;

    display: flex;
    justify-content: center;
    z-index: -2;
}

.our-coffee{
    position: absolute;
}

.coffee-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    
    color: #333D4B;
    margin-top: 71px;
    margin-bottom: 24px;
}

.coffee-cards{
    text-align: center;
}

.img-pr{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    width: 255px;
    /* text-align: center; */
    
    color: #333D4B;
    margin-bottom: 200px;
}

@media only screen and (max-width:992px){
    .coffee-cards{
        text-align: center;
    }
}

.al-cards{
    display: flex;
    justify-content: space-between;
    margin-top: -65px;
}

.bg-us{
    background: #2C343E;
    border-radius: 10px;
    padding-bottom: 250px;
}

.texts-us{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    
    color: #FEFCF7;
    margin-top: 112px;
    margin-bottom: 32px;
}

.pr-us{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    
    color: #FEFCF7;
    
    mix-blend-mode: normal;
    opacity: 0.8;

    width: 540px;

    margin-bottom: 86px;
}

.choos-us-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.best-text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    
    color: #FEFCF7;

    margin-top: 56px;
    margin-bottom: 24px;
}

.best-pr{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    width: 255px;
    
    color: #FEFCF7;
}

.best-card-all{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-2{
    background: #0E8784;
    border-radius: 8px;

    width: 350px;
    padding: 73px 0 48px 0;

    margin-bottom: 200px;
    transition: all .7s ease;
}

.card-2:hover{
    box-shadow: 0px 5px 10px 10px #83888f64;
    cursor: pointer;
}

.best-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.hh{
    margin-top: 78px;
}

.cards-4{
    margin-top: -250px;
}

.work-text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    color: #83888F;

    margin-bottom: 60px;
}

.line{
    margin-bottom: 70px;
}

.number{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;

    color: #FDD6BA;
    margin-bottom: 38px;
}

.cards-pr{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;

    color: #333D4B;
    margin-bottom: 42px;
}

.cards-paragraph{
    width: 285px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #333D4B;
}

.cards-number{
    display: flex;
    gap: 100px;

    margin-bottom: 70px;
}

.button2{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    text-decoration: none;
    
    color: #FEFCF7;
    background: #66D2CF;
    border-radius: 6px;

    padding: 15px 31px;
    transition: all .7s ease;
    border: 1.5px solid transparent;
}

.button2:hover{
    box-shadow:  1px 2px 2px 4px  #d8d7d4;
    background-color: #fff;
    border: 1.5px solid #66D2CF;
    color: #66D2CF;
}

.button2:active{
    color: #83888F;
    transition: all .0s ease;
}

.button3{
    margin-bottom: 200px;
}

.footer-con{
    background: #2C343E;

    padding: 50px 85px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img{
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer-list{
    display: flex;
    align-items: center;

    list-style-type: none;
    gap: 33px;
}

.footer-link{
    text-decoration: none;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;
    
    color: #83888F;
    transition: all .7s ease;
}

.footer-link:hover{
    color: #fff;
}

.footer-link:active{
    color: #0E8784;
    transition: all .0s ease;
}

.icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.facebook{
    color: #fff;
    text-decoration: none;
    transition: all .8s ease;
}

.instagram{
    color: #fff;
    text-decoration: none;
    transition: all .8s ease;
}

.twitter{
    color: #fff;
    text-decoration: none;
    transition: all .8s ease;
}

.youtube{
    color: #fff;
    text-decoration: none;
    transition: all .8s ease;
}

.links-items:hover{
    color: #0E8784;
}

.facebook:hover{
    color: #0E8784;
}

.instagram:hover{
    color: #0E8784;
}

.twitter:hover{
    color: #0E8784;
}

.youtube:hover{
    color: #0E8784;
}

.link-list{
    list-style-type: none;
}

.footer{
    margin-bottom: 135px;
}

.menu-icon{
    /* display: none; */
}

.bx{
    font-size: 30px;
    color: #333D4B;
}

@media only screen and (max-width: 1115px){
    .collection{
        width: 550px;
        height: 100px;
    }
    .nav-list{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .img-hero{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hero-text{
        font-size: 48px;
        margin-left: 0;
        padding-left: 1px;
    }
    .hero-pr{
        font-size: 15px;
        margin-left: -50px;
    }
    .button{
        margin-left: 0px;
    }
    .hero{
        padding: 104px 58px;
    }

    .hero-text{
        padding-top: 20px;
    }
    .coffee-cards{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 36px;
        text-align: start;
    }
    .all-coffee-cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .al-cards{
        display: flex;
        flex-direction: column;
    }
    .collection{
        width: 689px;
    }
    .img-pr{
        margin-bottom: 0;
        /* width: 282px; */
    }
    .img-text{
        margin-top: 0;
    }
}

@media only screen and (max-width:1135px){
    .best-cards{
        display: flex;
        flex-direction: column;
    }
    .best-card-all{
        margin-bottom: 0;
        padding: 0;
    }
    .best-card-all{
        width: 573px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .best-text {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        margin-top: 41px;
        margin-bottom: 16px;
    }
    .best-card-all{
        padding: 47px 15px;
    }
    .best-text{
        margin:0 55px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
    }
    .pr-us{
        margin-bottom: 10px;
    }
    .best-pr{
        margin:0 55px;
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 344px;
    }

@media only screen and (max-width:680px){
    .collection{
        width: 550px;
    }
}

@media only screen and (max-width:670px){
    .coffee-cards{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
    }
    .coffe-imgs{
        background-position: center;
    }
}
@media only screen and (max-width:615px){
    .best-card-all{
        padding: 80px 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 450px;
    }
    .best-text{
        text-align: center;
        margin-top: 24px;
        margin-bottom: 16px;
    }
    .best-pr{
        text-align: center;
    }
    .choos-us-text {
        padding-bottom: 153px;
    }
    .cards-4{
        margin-top: -400px;
    }

@media only screen and (max-width:570px){
    .collection{
        width: 450px;
    }
    .choos-us-text{
        padding-bottom: 276px;
    }
    .best-cards{
        margin-top: -520px;
    }
}

@media only screen and (max-width:580px){
    .hero-text{
        width: 279px;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        padding-top: 0;
    }
    .hero-pr{
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 300px;
    }
    .coffee-cards{
        max-width: 250px;
        width: 100%;
        text-align: center;
    }
    .best-text{
        width: 100%;
        margin: 20px 0px;
    }
    .best-pr{
        width: 100%;
        margin: 0;
    }
    .texts-us{
        font-weight: 900;
        font-size: 28px;
        line-height: 28px;
    }
    .pr-us{
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
    }
}

@media only screen and (max-width:510px){
    .hero-text h1{
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
    }
    .hero-pr{
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .coffee-cards{
        max-width: 250px;
        width: 100%;
    }
    .best-card-all{
        width: 400px;
        padding-bottom: 150px;
    }
    .best-pr{
        width: 218px;
    }
}

@media only screen and (max-width:480px){
    .hero-pr{
        font-weight: 300;
        font-size: 13px;
        line-height: 25px;
        width: 100%;
    }
    .img-hero{
        padding-left: 24px;
    }
}

@media only screen and (max-width:460px){
    .best-card-all{
        width: 360px;
    }
}

@media only screen and (max-width:435px){
    .collection{
        width: 100%;
    }
    .best-card-all{
        width: 350px;
    }
}

@media only screen and (max-width:400px){
    .best-card-all{
        width: 320px;
    }
}

@media only screen and (max-width:358px){
    .best-card-all{
        width: 300px;
    }
}

@media only screen and (max-width:320px){
    .best-card-all{
        width: 260px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width:320px){
    .hero-text h1{
        text-align: center;
        margin-left: -16px;
    }
    .hero-pr{
        text-align: center;
        padding-left: 61px;
    }
    .button{
        width: 217px;
        margin-left: 14px;
    }
}


